*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 70vh;
    background-color: rgb(197, 197, 197);
}


.form-group
{
    background-color: rgb(197, 197, 197);
    text-align: center;
}

.container
{
background-color: rgb(197, 197, 197);
color: black;
text-align: center;
}

.btn-primary
{
    background-color: black;
}

